
* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    background-color: rgba(255, 235, 205, 0.664);
}

table {
    width: 600px;
}

table thead {
    background-color: rgb(214, 196, 124);
}

th, td {
    padding: 10px;
}



tbody tr:nth-child(even) {
    background-color: rgb(241, 232, 193);
}

tbody tr:hover {
    background-color: #ccc;
}



